In [1]:
import pandas as pd
import numpy as np

# 自然人

In [2]:
df = pd.read_csv("D:/NCTU/12-資料產出/NCTU/alert處理new3.csv")

In [12]:
df.shape

(347676, 41)

In [3]:
df['TO_SAR'].value_counts()

F     645
NF    295
Name: TO_SAR, dtype: int64

In [8]:
df['TO_SAR'] = df['TO_SAR'].replace(np.nan, 0)
df['TO_SAR'] = df['TO_SAR'].replace("F", 1)
df['TO_SAR'] = df['TO_SAR'].replace("NF", 1)

In [9]:
df['TO_SAR'].value_counts()

0    346736
1       940
Name: TO_SAR, dtype: int64

In [13]:
Non_SAR = df[df['TO_SAR']==0]
TO_SAR  = df[df['TO_SAR']!=0]

In [14]:
print(TO_SAR.shape, Non_SAR.shape)

(940, 41) (346736, 41)

In [15]:
TO_SAR['scenario_name'].value_counts()

TWN_A11_01    446
TWN_A12_01    241
TWN_A17_01     73
TWN_A13_01     68
TWN_A15_01     25
TWN_A81_01     13
TWN_AB2_01     12
TWN_AB4_01     10
BOT_AZ8_01     10
TWN_A21_01     10
TWN_A21_02      9
BOT_AZ2_01      6
TWN_A61_01      4
TWN_A1B_01      2
TWN_A1F_01      2
BOT_AZ9_01      2
TWN_A1C_01      2
TWN_AB3_02      1
TWN_AB1_01      1
TWN_A1D_01      1
TWN_A62_01      1
TWN_AB3_01      1
Name: scenario_name, dtype: int64

In [16]:
SAR_scenario = list(set(TO_SAR['scenario_name']))
scenario_SAR_relation = pd.DataFrame(columns = ['scenario_name', 'TO_SAR', 'total'])
for item in SAR_scenario:
    total = df[df['scenario_name']==item].shape[0]
    to_sar = TO_SAR[TO_SAR['scenario_name']==item].shape[0]
    scenario_SAR_relation = scenario_SAR_relation.append({'scenario_name':item, 'TO_SAR':to_sar, 'total':total}, ignore_index = True)
display(scenario_SAR_relation.sort_values(by=['TO_SAR'], ascending = False).reset_index(drop=True))

   scenario_name TO_SAR  total
0     TWN_A11_01    446  86770
1     TWN_A12_01    241  49965
2     TWN_A17_01     73   4507
3     TWN_A13_01     68   7499
4     TWN_A15_01     25  12530
5     TWN_A81_01     13    723
6     TWN_AB2_01     12   2622
7     TWN_A21_01     10  26202
8     BOT_AZ8_01     10   1104
9     TWN_AB4_01     10   3288
10    TWN_A21_02      9  33812
11    BOT_AZ2_01      6   2984
12    TWN_A61_01      4   1982
13    TWN_A1C_01      2   3700
14    TWN_A1B_01      2  90059
15    TWN_A1F_01      2    802
16    BOT_AZ9_01      2    166
17    TWN_A1D_01      1    604
18    TWN_AB3_02      1     70
19    TWN_AB3_01      1   1016
20    TWN_A62_01      1    211
21    TWN_AB1_01      1    383